{%extends "layout.html"%}

{%block body%}
<h1>{{book.title}}</h1>

id={{book.id}}<br>
Title:{{book.title}}<br>
isbn:{{book.isbn}}<br>
author{{book.author}}<br>
Year:{{book.year}}<br>
number of reviews:{{votes}}<br>
avarege review:{{avg}} <br>

<form method="post" action="/review">
    <input type="text"  name="text" >
    <input type="hidden" value="{{book.id}}" name="id">
    <input list="browsers"  name="vote" name="browser">
  <datalist id="browsers">
    <option value="1">
    <option value="2">
    <option value="3">
    <option value="4">
    <option value="5">
  </datalist>
    <input type="submit">
</form>

{%if review == []%}
<h1>No reviews</h1>
{%endif%}
{%for review in review%}
<h4>review:{{review.review_text}}</h4>
<h4>stars:{{review.review_vote}}</h4><br>
{%endfor%}
{%endblock%}